NET "A[8]" LOC ="P21";
NET "A[7]" LOC ="P27";
NET "A[6]" LOC ="P29";
NET "A[5]" LOC ="P35";
NET "A[4]" LOC ="P37";
NET "A[3]" LOC ="P40";
NET "A[2]" LOC ="P43";
NET "A[1]" LOC ="P45";
NET "A[0]" LOC ="P48";
NET "Y" LOC ="P20";
NET "Z" LOC ="P26";